{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Lab409 - Login{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <br> <br> <br> <br>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="page-header">
        <h1>Register</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}