{% extends "base.html" %}

{% block title %}Lab409 - Pricing{% endblock %}

{% block content %}
<!--PRICING SECTION -->
    <div id="pricing-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " >
                    <h1>Choose Our Package</h1>
                    <h4>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
             <div class="col-md-12 main-low-margin">
          <ul class="pricing-table-main" >
    <li class="col-md-4 col-sm-4" >
        <h2>BASIC PLAN</h2>
        <div class="round-body">
            <div class="price">
                <span class="price-Unit"><sup>$</sup>19<small>.00</small></span>
                <span class="unit-info">per month</span>
            </div>
        </div>
        <div class="main-features">
            <ul>
                <li>200 GB Data Storage</li>
                <li>1000 Email Accounts</li>
                <li>Site Security Software</li>
                <li><strong>100+</strong> User Support</li>
                <li>24x7 Free Support</li>
            </ul>
        </div>
        <div class="footer">
            <a href="#" class="btn btn-info btn-lg">GET IT NOW</a>
        </div>
    </li>
    <li class="active primary col-md-4 col-sm-4" >
        <h2>VALUE SAVER</h2>
        <div class="round-body">
            <div class="price">
                <span class="price-Unit"><sup>$</sup>29<small>.10</small></span>
                <span class="unit-info">per month</span>
            </div>
        </div>
        <div class="main-features">
            <ul>
                <li>200 GB Data Storage</li>
                <li>1000 Email Accounts</li>
                <li>Site Security Software</li>
                <li><strong>100+</strong> User Support</li>
                <li>24x7 Free Support</li>
            </ul>
        </div>
        <div class="footer">
            <a href="#" class="btn btn-success btn-lg">GET IT NOW</a>
        </div>
    </li>
    <li class="col-md-4 col-sm-4" >
        <h2>ADVANCE VALUE</h2>
        <div class="round-body">
            <div class="price">
                <span class="price-Unit"><sup>$</sup>299<small>.99</small></span>
                <span class="unit-info">per month</span>
            </div>
        </div>
        <div class="main-features">
            <ul>
                <li>200 GB Data Storage</li>
                <li>1000 Email Accounts</li>
                <li>Site Security Software</li>
                <li><strong>100+</strong> User Support</li>
                <li>24x7 Free Support</li>
            </ul>
        </div>
        <div class="footer">
            <a href="#" class="btn btn-info btn-lg">GET IT NOW</a>
        </div>
    </li>
    
</ul>
      </div>
              <!-- ./ Row Content-->
        </div>
    </div>
    <!-- END PRICING SECTION -->
{% endblock %}
