{% extends "base.html" %}

{% block title %}Lab409 - About{% endblock %}

{% block content %}
<!--ABOUT SECTION -->
    <div id="found-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " >
                    <h1>Who We Are ? </h1>
                    <h4>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
             <div class="row main-low-margin  text-center">
                
             
                <div class="col-md-12 col-sm-12 text-justify" >
                    <h3> Lorem ipsum dolor sit amet Riopsh</h3>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.

                    </p>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.

                    </p>
                </div>
            </div>
              <!-- ./ Row Content-->
            <div class="row main-low-margin text-center">
             
              <div class="col-md-4 col-sm-4 text-center" >
                <img class="img-circle" src="{{ url_for('static', filename='img/team/team1.png') }}">
                <h3>Person Name</h3>
               <h4>Job Profile Goes Here</h4>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue. 
                </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center" data-scrollreveal="enter bottom and move 100px, wait 0.4s">
                <img class="img-circle" src="{{ url_for('static', filename='img/team/team1.png') }}">
                <h3>Person Name</h3>
               <h4>Job Profile Goes Here</h4>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue. 
                </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center" data-scrollreveal="enter right and move 100px, wait 0.4s">
                <img class="img-circle" src="{{ url_for('static', filename='img/team/team1.png') }}">
                <h3>Person Name</h3>
               <h4>Job Profile Goes Here</h4>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue. 
                </p>
            </div>
        
            </div>
              <!-- ./ Row Content-->
            
        </div>
    </div>
    <!-- END ABOUT SECTION -->
{% endblock %}
