<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

    {% block meta %}
    <!-- block meta  -->
    {% endblock %}

    <title>
      {% block title %}Welcome to Lab409!{% endblock %}
    </title>

    {% block styles %}
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />
    
    <!--CUSTOM STYLE -->
    <link href="{{ url_for('static', filename='css/mystyle.css') }}" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock %}


</head>
    <!--END HEAD SECTION -->

<body>  
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YOUR LOGO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.index') }}">HOME</a></li>
                    <li><a href="{{ url_for('main.about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('main.portfolio') }}">PORTFOLIO</a></li>
                    <li><a href="{{ url_for('main.services') }}">SERVICES</a></li>
                    <li><a href="{{ url_for('main.pricing') }}">PRICING</a></li>
                    <li><a href="{{ url_for('main.founders') }}">FOUNDERS</a></li>
                    <li><a href="{{ url_for('main.contact') }}">CONTACT</a></li>

                    {% if current_user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="#">Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Signed in as <strong>{{ current_user.username }}</strong></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('main.user_profile', username=current_user.username) }}">Profile</a></li>
                            <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                            <li><a href="#">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a >|</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
           
        </div>
    </div>
    <!--END NAV SECTION -->


    {% block content %}
    <!-- put your content here -->
    {% endblock %}

    {% block footer %}
    <!--FOOTER SECTION -->
    <div id="footer">
        <div class="container">
            <div class="row ">
                &copy; 2014 www.yourdomain.com | All Right Reserved                 
        
            </div>
            
        </div>
       
    </div>  
    <!--END FOOTER SECTION -->
    {% endblock %}

    {% block scripts %}
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
           <!-- CUSTOM SCRIPT-->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


    {% endblock %}

</body>
</html>
