{% extends "base.html" %}

{% block title %}Lab409 - Founders{% endblock %}

{% block content %}
<!--FOUNDERS SECTION -->
    <div id="found-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " >
                    <h1>From Founder's Desk</h1>
                    <h4>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row main-low-margin text-center">
                <div class="col-md-3 " >
                    <img class="img-circle" src="{{ url_for('static', filename='img/team/team1.png') }}" alt="">
                    <h4><strong>Jhon Deo Alex</strong> </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. 

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-2x color-pinterest"></i></a>

                    </p>

                </div>
             
                <div class="col-md-8 col-sm-8 text-justify" >
                    <h3> Lorem ipsum dolor sit amet Riopsh</h3>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.

                    </p>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.

                    </p>
                </div>
            </div>
              <!-- ./ Row Content-->
            <div class="row main-low-margin text-center">
              
             
                <div class="col-md-8 col-sm-8   text-justify" >
                    <h3> Lorem ipsum dolor sit amet Riopsh</h3>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.

                    </p>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.

                    </p>
                </div>
                  <div class="col-md-3  " >
                    <img class="img-circle" src="{{ url_for('static', filename='img/team/team1.png') }}" alt="">
                    <h4><strong>Jhon Deo Alex</strong> </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. 

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-2x color-pinterest"></i></a>

                    </p>

                </div>
            </div>
              <!-- ./ Row Content-->
        </div>
    </div>
    <!-- END FOUNDERS SECTION -->
{% endblock %}
