{% extends "base.html" %}

{% block title %}Lab409 - Services{% endblock %}

{% block content %}
<!--SERVICES SECTION -->
    <div id="service-section">
    <div class="container" >
        <div class="row  text-center">
              <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " >
                    <h1>Explore Our Services</h1>
                    <h4>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
                 <div class="row main-low-margin text-center"> 
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-bolt fa-5x color-red"></i>
                            <h4>Responsive Design</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6"  >
                        <div class="text-center">
                            <i class="fa fa-comments fa-5x color-green"></i>
                            <h4>24x7 Support</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-desktop fa-5x color-light-blue"></i>
                            <h4>Awesome Display</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-flask fa-5x color-blue"></i>
                            <h4>Tested Template</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-pencil fa-5x green-color" ></i>
                            <h4>Say Yes To Customize</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-thumbs-up fa-5x color-brown"></i>
                            <h4>Well Documented</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div>
                </div>
                     </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </div>
    <!-- END SERVICES SECTION -->
{% endblock %}
